.parent {
	/* border: 2px solid #DFA612; */
	/* color: rgb(161, 150, 150); */
	display: flex;
	font-family: sans-serif;
	font-weight: bold;
	width: 700px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.sortable {
	background-color: #ffffff;
	padding: 10px;
	margin: 10px 10px 10px 10px;
	border: 5px solid #B6E6FC;
	border-radius: 20px;
	shape-rendering: auto;
	flex-basis: 100%;
	flex-grow: 1;
	width: 200px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	float: left;
	margin-right: 10px;

/* 
	shape-rendering: auto;
	flex-basis: 100%;
	flex-grow: 1; */
}

.dropzone {
	background-color: #ffffff;
	/* flex-basis: 100%;
	flex-grow: 1; */
	padding: 10px;
	margin: 10px 10px 10px 10px;
	/* width: 200px; */

	border: 5px solid #B6E6FC;
	border-radius: 20px;
	/* stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4; */
	shape-rendering: auto;
	flex-basis: 100%;
	flex-grow: 1;
}

.task {
	background-color: #ddf4ff; 
	opacity:0.85;
	border: 2px solid #B6E6FC;
	border-radius: 20px;
	font-weight: normal;
	padding: 10px;
	cursor: move;
	/* width: 120px; */
	font-size: 1.2em;

	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
}

.data {
	
}

.created {
	margin-top: 10px;
	color: rgb(126, 123, 123);
	font-size: 75%;
}

.example-origin {
	background-color: #fae77d;
	flex-basis: 100%;
	flex-grow: 1;
	padding: 10px;
}

.task-input {
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* background-color: #afd2ac; */
	/* border: 5px solid #B6E6FC; */
	border-radius: 10px;
	font-weight: normal;
	border-color: #afd2ac;
	/* margin-bottom: 10px; */
	margin-top: 10px;
	padding: 10px;
	width: 200px;
	cursor: text;
}

.add-task {
	display: block;
	margin-left: auto;
	margin-right: auto;

	background-color: #afd2ac;
	/* border: 5px solid #B6E6FC; */
	border-radius: 10px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 10px;
	width: 200px;
	cursor: pointer;
	text-align: center;
}

.delete-task {
	display: block;
	/* margin-left: auto;
	margin-right: auto; */

	background-color: #ffffff;
	/* border: 5px solid #B6E6FC; */
	border-radius: 10px;
	font-weight: normal;
	/* margin-bottom: 10px;
	margin-top: 5px; */
	padding: 20px;
	width: 30px;
	height: 30px; 
	/* cursor: pointer; */

	position: fixed;
	right: 20px;
	top: 20px;

	overflow: hidden;
}

/* [2] Transition property for smooth transformation of images */
.delete-task img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.delete-task:hover img {
  transform: scale(1.5);
}

.trash-hover {
  transition: transform .5s ease;
  transform: scale(1.5);
}

.example-dropzone-2 {
	background-color: #5b78b6;
	flex-basis: 100%;
	flex-grow: 1;
	padding: 10px;
}

.top_bar {
    box-sizing: border-box;
    height: 44px;
    background-color: #fff;
    top: 0;
    position: fixed;
    z-index: 200;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid transparent;
    background-color: #db4c3f;
    -webkit-transition: height .2s ease-in;
    transition: height .2s ease-in;
    padding-left: 42px;
    padding-right: 42px;
}